#contacttel, #contactmail{
   font-family: Coconut;
   font-size: 16pt;
   margin-top:10px;
   margin-bottom: 10px;
}

#contactText{
   margin-top: 20px;
}

#contactText p{
   padding:0;
   margin:0;
   font-family: ClarikaProGrotesque;
   font-size: 13pt;
}