@font-face {
   font-family: Coconut;
   src: url(../fonts/Coconat-Regular.otf);
   font-weight: normal;
}

#loadingScreen {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: var(--background);
   z-index: 6;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loadingItem{
   width:80px;
   height: 80px;
}

.loadingItem img {
   width: 80px;
   display: block;
   padding:0;
   margin:0;
}

#loading_empty {
   height: 100%;
   opacity: 0.2;
}

#loading_full {
   height: 100%;
   width:80px;
   position:relative;
   bottom:80px;
   animation: 2s fillloading ease-in-out;
}

@keyframes fillloading {
   0% {
      clip-path: inset(100% 0 0 0); 
   }
   100% {
      clip-path: inset(0);
   }
}