@font-face{
   font-family: ClarikaProGrotesque;
   src: url(../fonts/ClarikaProGrot-Lt.otf);
   font-weight: normal;
}
@font-face{
   font-family: ClarikaProGrotesque;
   src: url(../fonts/ClarikaProGrot-Md.otf);
   font-weight: bold;
}
@font-face{
   font-family: Coconut;
   src: url(../fonts/Coconat-Regular.otf);
   font-weight: normal;
}

:root{
   --background:#003a38;
   --foreground: #fad2aa;
}
* {
   scroll-behavior: smooth;
   overflow:hidden;
   font-family: Coconut;
 } 
html{
   background-color: var(--background);
   color: var(--foreground);
   padding: 0;
   overflow: hidden;
}

body{
   padding:0;
   margin:0;
   position:relative;
}

a{
   text-decoration: none;
   color: var(--foreground);
}
a:active{
   border:none;
}


#root{height: 100%;}
#projectDetailWrapper{
   display: grid;
   height: calc(100vh - 140px);
   padding:70px;
   grid-template-rows: 1fr 5fr 1fr;
   grid-template-areas:
   "header"
   "project_overview"
   "footer";
}

header *, footer *{
   font-family: ClarikaProGrotesque;
   font-size:14pt;
}

header{
   display: flex;
   grid-area: header;
   /* background-color: blue; */
   align-items: flex-start ;
}
#head_items{
   height:70px;
   width:100%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

footer{
   display: flex;
   grid-area: footer;
   /* background-color: red; */
}
#footer_overview_items{
   display: flex;
   width:100%;
   align-items: flex-end;
   justify-content: space-between;
}
#project_overview_wrapper{
   grid-area: project_overview;
   /* background-color: yellow; */
}


.full_logo{
   width: 153px;
   object-fit: contain;
}
.right_arrow{
   width:53px;
}