
#main_wrapper{
   position:relative;
   transition: left .9s ease-out !important;
}
#main_wrapper > div{
   height: 100%;  
   width: 100vw;
   float:left;
}

#main_wrapper > div:not(:first-child){
   margin-left:-40vw;
}

#main_wrapper > .toSmallToPreview:not(:first-child){
   margin-left:0;
}

#main_wrapper .centeritem{
   display: block;
   margin: auto;
   object-fit: contain;
   height: 100%;
}


.main_wrapper_return_to_overview #Mainimg{
   clip-path: inset(5%);
}

footer, header{
   width:calc(100vw - 140px)
}