#project_overview_wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#project_overview_section {
   width: 60%;
   height: 80%;
}

#project_overview_section picture {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
}

#project_overview_section img {
   cursor: pointer;
   width: 120%;
   height: 100%;
   left: -10%;
   position: relative;
   transform: scale(1) translateZ(0);
   backface-visibility: hidden;
   transition: transform 0.3s ease-out;
}

/* #project_overview_section img:hover{
   transform: scale(1.08);
   backface-visibility: hidden;
   transition: transform 0.3s ease-out;
} */

.project_overview_section_clicked {
   transform: perspective(1000px) translateZ(30px) !important;
}

.project_overview_section_clicked img {
   transform: scale(0.9) !important;
}

#project_overview_wrapper .line {
   border-bottom: 1px solid var(--foreground);
   height: 0px;
   width: calc(20% - 40px);
   animation: lineanimation 0.3s ease 0s;
   margin:-70px;
}

#marquee {
   font-family: Coconut;
   z-index: 1;
   height: 100%;
   position: absolute;
   top:0;
   display:inline-flex;
   align-items: center;
   font-size: 130pt;
   pointer-events: none;
   white-space: nowrap;
   animation: floatText 8s infinite linear;
}

#marquee p {
   margin:0;
}

#projectDetailWrapper > *{
   transition: 0.3s;
}
.marqueeactive > *{
   opacity:0.3;
}
.marqueeactive #marquee{
   opacity: 1;
}

@keyframes lineanimation {
   0% {
      width: 0;
   }
   100% {
      width: calc(20% - 40px);
   }
}