#project_overview_wrapper {
   width: calc(100% + 280px);
   margin-left:-140px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#project_overview_section {
   height: 100%;
   text-align: center;
   display: flex;
   justify-content: center;
}
#picturebefore{
   display:none;
}


#project_overview_section img {
   cursor: pointer;
   height: 100%;
   position: relative;
   transform: scale(1) translateZ(0);
   backface-visibility: hidden;
   object-fit: contain;
   transition: 0.3s ease-out;
}

/* #project_overview_section img:hover{
   transform: scale(1.08);
   backface-visibility: hidden;
   transition: transform 0.3s ease-out;
} */

.project_overview_section_clicked {
   transform: perspective(1000px) translateZ(30px) !important;
}

.project_overview_section_clicked img {
   transform: scale(0.9) !important;
}

.line {
   border-bottom: 1px solid var(--foreground);
   height: 0px;
   width: 50%;
   animation: lineanimation 2s ease-in-out 0s;
   position:absolute;
   top: calc(50% + 1px);
   z-index: -1;
}

.lineright{
   right:0;
}
.lineleft{
   left: 0;
}

#marquee {
   font-family: font;
   z-index: 1;
   height: 100%;
   position: absolute;
   top:0;
   left:0;
   display:flex;
   align-items: center;
   font-size: 130pt;
   pointer-events: none;
   white-space: nowrap;
   /* animation: floatText 8s infinite linear; */
}

.hide{
   opacity: 0;
}

#projectDetailWrapper > *{
   transition: 0.3s;
}
.marqueeactive > *{
   opacity:0.3 !important;
}
.marqueeactive #marquee{
   opacity: 1 !important;
}

.marquee_text{
   padding-right: 130pt; 
}



@keyframes lineanimation {
   0% {
      width: 0;
   }
   100% {
      width: 50%;
   }
}