
/* #main_wrapper {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: calc(100% + 340px);
   margin-left:-170px;
}
#main_wrapper > div{
   height: 100%;  
}

#main_wrapper .left, #main_wrapper .right{
   width: 20%;
}
#main_wrapper .center{
   width:100%;
   margin-right: 20px;
   margin-left:20px;
   text-align: center;
}
#main_wrapper .center #centeritem{
   display: block;
   margin: auto;
}

#main_wrapper img, #main_wrapper video{
   object-fit: contain;
   height: 100%;
} */

#main_wrapper{
   position:relative;
   transition: left .9s ease-out !important;
}
#main_wrapper > div{
   height: 100%;  
   width: 100vw;
   float:left;
}
/* #main_wrapper > div:not(::first-child){
   margin-left: calc(-20vw - 70px);
} */

#main_wrapper .centeritem{
   display: block;
   margin: auto;
   object-fit: contain;
   height: 100%;
}


.main_wrapper_return_to_overview .centeritem{
   clip-path: inset(5%);
}

footer, header{
   width:calc(100vw - 140px)
}