.subWrapper{
   background-color: var(--background);
}

.main_aside{
   grid-area: project_overview;
   width:calc(100vw - 140px);
   display: flex;
   justify-content: center;
   align-items: center;
}
a{
   cursor: pointer;
}