#SexyBackgroundImage {
   position:absolute;
   top:0;
   left:0;
   z-index: -1;
}
#SexyBackgroundImage img{
   object-fit: contain;
   height: 100vh;
}

#aboutWrapper footer{
   padding-top:30px;
}

#aboutWrapper .FooterSubPage{
   margin-top: 0;
}

#aboutWrapper .FooterSubPage #DetailsFooterBase .detailsline {
   bottom: 0px;
}

#aboutWrapper .DetailsSubText {
   width: calc(100vw - 140px);
   margin-left: 70px;
   display: flex;
   justify-content: space-between;
}

#aboutWrapper .main_aside {
   display: block;
}

#aboutWrapper .TextElement h2 {
   font-family: Coconut;
   font-size: 14pt;
}
#aboutWrapper .TextElement p, #aboutWrapper .ElementLinkToNext{
   font-family: ClarikaProGrotesque;
   font-size: 14pt;
   margin:0;
   margin-top:5px;
   margin-left: 20px;
}

#aboutWrapper .TextElement a {
   font-family: ClarikaProGrotesque;
   font-style: italic;
   font-weight: bold;
}

#aboutWrapper .ElementLinkToNext {
   margin-top:20px !important;
}
#aboutWrapper .ElementLinkToNext a{
   font-family: ClarikaProGrotesque;
   font-style: italic;
}

#aboutWrapper #lastTextElement{
   position: absolute;
   z-index: -1;
   top:0;
   opacity: 0;
}

#aboutWrapper #lastTextElement, #aboutWrapper #currentTextElement {
   position: absolute;
   width: 450px;
}
