#mobileWrapper #aboutWrapper .TextElement p, #mobileWrapper #aboutWrapper .ElementLinkToNext{
   font-size:10pt;
}

#mobileWrapper #aboutWrapper #lastTextElement, #mobileWrapper #aboutWrapper #currentTextElement{
   display: flex;
   justify-content: center;

   width: calc(100vw - 40px);
   max-width: 450px;
   padding-left: 20px;
   padding-right: 20px;
}

#mobileWrapper #aboutWrapper .FirstText{
   justify-content: flex-end !important;
}


#mobileWrapper .main_aside > div {
   margin-top:calc(20vh);
}
#mobileWrapper #aboutWrapper #lastTextElement{
   top: unset;
}

#mobileWrapper .main_aside {
   width: 100vw;
   margin-left:-20px;
}

#mobileWrapper #aboutWrapper footer {
   width: 100vw;
   margin-left:-20px;
}

#mobileWrapper #aboutWrapper .main_aside > div{
   padding: 0;
}

#SexyBackgroundImage{
   transition: left 1s
}